<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6461b3">  <td>21/09/01 15:26:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.imonline.api.tests.OrderCreatePOCDynamicAPITest@12ff4da]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>main@213521</td>   <td>19920090 </td> </tr>
<tr bgcolor="768fa9">  <td>21/09/01 15:26:34</td>   <td>720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderCreatePOCDynamicAPITest.createAndValidateOrderDetails()[pri:1, instance:com.im.imonline.api.tests.OrderCreatePOCDynamicAPITest@12ff4da]">createAndValidateOrderDetails</td> 
  <td>main@213521</td>   <td>19920090 </td> </tr>
<tr bgcolor="6461b3">  <td>21/09/01 15:26:47</td>   <td>13664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.imonline.api.tests.OrderCreatePOCDynamicAPITest@12ff4da]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@213521</td>   <td>19920090 </td> </tr>
<tr bgcolor="768fa9">  <td>21/09/01 15:26:47</td>   <td>13745</td> <td>&nbsp;</td><td title="&lt;&lt;OrderCreatePOCDynamicAPITest.afterTest()[pri:0, instance:com.im.imonline.api.tests.OrderCreatePOCDynamicAPITest@12ff4da]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@213521</td>   <td>19920090 </td> </tr>
</table>
