<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.im.b2b.api.tests.OrderDetailsAPITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateSubOrder</td>
<td>validOrder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateSubOrder</td>
<td>validOrder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>inValidOrderDetails</td>
<td>invalidOrder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>inValidOrderDetails</td>
<td>invalidOrder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateOrderDetails</td>
<td>validOrder </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateOrderDetails</td>
<td>validOrder </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setPlatform</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
