<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>invalidOrder</td><td>OrderDetailsAPITest.inValidOrderDetails()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]<br/>OrderDetailsAPITest.inValidOrderDetails()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]<br/></td></tr>
<tr><td>validOrder</td><td>OrderDetailsAPITest.validateOrderDetails()[pri:1, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]<br/>OrderDetailsAPITest.validateOrderDetails()[pri:1, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]<br/>OrderDetailsAPITest.validateSubOrder()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]<br/>OrderDetailsAPITest.validateSubOrder()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]<br/></td></tr>
</table>
