<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:15</td>   <td>465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.validateOrderDetails()[pri:1, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">validateOrderDetails</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:19</td>   <td>4665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:19</td>   <td>4727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:19</td>   <td>5179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.validateOrderDetails()[pri:1, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]">validateOrderDetails</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:22</td>   <td>7296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:22</td>   <td>7361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:22</td>   <td>7719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.validateOrderDetails()[pri:1, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]">validateOrderDetails</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:24</td>   <td>9279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:24</td>   <td>9356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:24</td>   <td>9691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.inValidOrderDetails()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">inValidOrderDetails</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:24</td>   <td>10071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:24</td>   <td>10154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:25</td>   <td>10491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.inValidOrderDetails()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]">inValidOrderDetails</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:25</td>   <td>10870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:25</td>   <td>10946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:26</td>   <td>11274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.validateSubOrder()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">validateSubOrder</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:26</td>   <td>11658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:26</td>   <td>11738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setPlatform(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&gt;&gt;setPlatform</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:26</td>   <td>12075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailsAPITest.validateSubOrder()[pri:2, instance:com.im.b2b.api.tests.OrderDetailsAPITest@8640fa]">validateSubOrder</td> 
  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="e088a9">  <td>21/09/06 20:18:27</td>   <td>12435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(java.lang.reflect.Method, org.testng.ITestResult, org.testng.ITestContext)[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@22921462</td>   <td>8798458 26428877 </td> </tr>
<tr bgcolor="76f99d">  <td>21/09/06 20:18:27</td>   <td>12511</td> <td>&nbsp;</td><td title="&lt;&lt;OrderDetailsAPITest.afterTest()[pri:0, instance:com.im.b2b.api.tests.OrderDetailsAPITest@19345cd]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@8827989</td>   <td>8798458 26428877 </td> </tr>
</table>
